.container
	h1(class="ml10 goods-title title" id="goods-title")
		span(class="text-wrapper")
			span(class="letters goods-title goods-title-content")
				| Продукция
	.goods-list
		.goods-list-item
			.goods-item-description
				.goods-item-description-title
					| Минераловатный мат
				.goods-item-description-text.
					Волокна в минераловатных матах расположены преимущественно хаотично, что придает им высокую жесткость и позволяет использовать более одного оборота. Минераловатный субстрат Belagro достаточно влагоемкий, что позволяет реже поливать растения и тем самым экономить воду и удобрения. Уровень ЕС в матах держится стабильно, без резких перепадов, что благоприятно для роста корней. Субстрат равномерно теряет влагу (усушка) и при правильном поливном режиме в нем создаются все условия для формирования мощной, хорошо развитой корневой системы. Применяют минераловатный мат как основную среду корнеобитания. По желанию заказчика возможно изготовление матов нестандартных размеров.
				.goods-item-description-params
					span Размеры:
					button.button-params 1000 x 200 x 75 мм.
					button.button-params 1000 x 150 x 100 мм.
					button.button-params 1000 x 200 x 100 мм.
			.goods-item-slider
				div(class="slider" id="slider1")
					div(class="feature")
						figure(class="featured-item image-holder r-3-2 transition")
						div(class="gallery")
							div(class="item-wrapper gallery-item active")
								figure(class="image-holder r-3-2 transition" style="background-image: url('https://s3-us-west-2.amazonaws.com/forconcepting/800Wide50Quality/city.jpg');")
							div(class="item-wrapper gallery-item")
								figure(class="image-holder r-3-2 transition" style="background-image: url('https://s3-us-west-2.amazonaws.com/forconcepting/800Wide50Quality/deer.jpg');")
							div(class="item-wrapper gallery-item")
								figure(class="image-holder r-3-2 transition" style="background-image: url('https://s3-us-west-2.amazonaws.com/forconcepting/800Wide50Quality/flowers.jpg');")
						button(class="move-btn left" data-arrow="left") &#10092;
						button(class="move-btn right" data-arrow="right") &#10093;

		.goods-list-item
			.goods-item-description
				.goods-item-description-title
					| Минераловатный кубик
				.goods-item-description-text.
					Минераловатный кубик обеспечивает здоровую корневую систему, сильное растение с хорошим балансом вегетативного и генеративного развития, легкое управление процессами роста. Кубики можно использовать как при прямом посеве семян, так и при технологии пикировки, при которой семена высаживаются сначала в минераловатные пробки, размещенные в кассетах. Кубики предназначены для выращивания рассады овощных и цветочных культур, изготовлены из гидрофильной гофрированной минеральной ваты, структура которой обеспечивает особую жесткость и механическую стабильность кубиков при их смачивании. Преимущественно вертикальное расположение волокон минеральной ваты, а также наличие дренажных канавок на нижней стороне кубиков и поливочного ринга сверху позволяют осуществлять выращивание сильной рассады.

				.goods-item-description-params
					span Размеры:
					button.button-params 100 x 100 x 65 мм.
					button.button-params 150 x 100 x 65 мм.
					button.button-params 75 x 75 x 65 мм.
			.goods-item-slider
				div(class="slider" id="slider2")
					div(class="feature")
						figure(class="featured-item image-holder r-3-2 transition")
						div(class="gallery")
							div(class="item-wrapper gallery-item active")
								figure(class="image-holder r-3-2 transition" style="background-image: url('./img/gallery-3.png');")
							div(class="item-wrapper gallery-item")
								figure(class="image-holder r-3-2 transition" style="background-image: url('https://s3-us-west-2.amazonaws.com/forconcepting/800Wide50Quality/city.jpg');")
							div(class="item-wrapper gallery-item")
								figure(class="image-holder r-3-2 transition" style="background-image: url('https://s3-us-west-2.amazonaws.com/forconcepting/800Wide50Quality/flowers.jpg');")
						button(class="move-btn left" data-arrow="left") &#10092;
						button(class="move-btn right" data-arrow="right") &#10093;

		.goods-list-item
			.goods-item-description
				.goods-item-description-title
					| Минераловатная пробка
				.goods-item-description-text.
					Минераловатную пробку применяют для проращивания семян с последующей пикировкой в кубик. Для выращивания сеянцев пробки размещаются в стандартных кассетах из пластика или пенополистирола. Структурная однородность пробок из минеральной ваты делает возможным равномерное распределение воды, питательных веществ и значения pH. За счет этого достигается более хорошая всхожесть семян, и саженцы вырастают одинакового размера.
				.goods-item-description-params
					span Размеры:
					button.button-params 20 x 27 мм.
			.goods-item-slider
				div(class="slider" id="slider3")
					div(class="feature")
						figure(class="featured-item image-holder r-3-2 transition")
						div(class="gallery")
							div(class="item-wrapper gallery-item active")
								figure(class="image-holder r-3-2 transition" style="background-image: url('./img/gallery-3.png');")
							div(class="item-wrapper gallery-item")
								figure(class="image-holder r-3-2 transition" style="background-image: url('./img/gallery-2.png');")
							div(class="item-wrapper gallery-item")
								figure(class="image-holder r-3-2 transition" style="background-image: url('./img/gallery-1.png');")
						button(class="move-btn left" data-arrow="left") &#10092;
						button(class="move-btn right" data-arrow="right") &#10093;