.container
	.goods-list
		.goods-list-item
			.goods-item-description
				.goods-item-description-title
					| Минераловатный мат
				.goods-item-description-text.
					Волокна в минераловатных матах расположены преимущественно хаотично, что придает им высокую жесткость и позволяет использовать более одного оборота. Минераловатный субстрат Belagro достаточно влагоемкий, что позволяет реже поливать растения и тем самым экономить воду и удобрения. Уровень ЕС в матах держится стабильно, без резких перепадов, что благоприятно для роста корней. Субстрат равномерно теряет влагу (усушка) и при правильном поливном режиме в нем создаются все условия для формирования мощной, хорошо развитой корневой системы. Применяют минераловатный мат как основную среду корнеобитания. По желанию заказчика возможно изготовление матов нестандартных размеров.
				.goods-item-description-params
					span Размеры
					button.button-params 1000 x 200 x 75 мм.
					button.button-params 1000 x 200 x 75 мм.
					button.button-params 1000 x 200 x 75 мм.
			.goods-item-slider