.container
  .features-title.title
    | Особенности
  .features-list
    .features-item
      .features-item-icon
        img(src="./img/conveyor.png", alt="")
      .features-item-title
        | Технология
      .features-item-text.
        Минераловатный субстрат производится на современном оборудовании с использованием европейских технологий - это обеспечивает максимальный контроль качества продукции.
    .features-item
      .features-item-icon
        img(src="./img/planet-earth.png", alt="")
      .features-item-title
        | 100% экологичный продукт
      .features-item-text.
        Основным компонентом сырья для производства минераловатного субстрата является горная базальтовая порода, благодаря чему субстрат инертен, гидрофилен, не патогенен, не меняет своих свойств в процессе эксплуатации и не поглощает питательных веществ.
    .features-item
      .features-item-icon
        img(src="./img/certificate.png", alt="")
      .features-item-title
        | Гарантия качества
      .features-item-text.
        Мы постоянно совершенствуем свою продукцию и гарантируем стабильное качество каждому клиенту, в не зависимости от объема поставок.
