h1(class="ml10 geography-title title" id="geography-title")
  span(class="text-wrapper")
    span(class="letters geography-title") География поставок
hr#geography-line.geography-line
.geography-description
  .geography-text
    p.
      Наше предприятие выпускает минеральную вату с 1965 года. В 2005г. АО «Гомельстройматериалы» вышло на международный рынок с уникальным материалом для теплоизоляции стен и кровли – плитами теплоизоляции, выполненными из минеральной ваты, под торговой маркой BELTEP.<br>
    p.
      Плиты выпускаются на современной технологической линии, поставленной чешской машиностроительной компанией «Frydlantske Strojirny — Rasl a syn s.a.», с использованием технологии сухого формования из минеральной ваты и синтетического связующего вещества с водонепроницаемой модифицирующей добавкой.
  .geography-map
    .geography-map-img
      img(src="./img/map-without-dot.png", alt="")
      .dot.dot1
      .dot.dot2
      .dot.dot3
      .dot.dot4
      .dot.dot5
      .dot.dot6
      .dot.dot7
      .dot.dot8