.geography-title.title
  | География поставок
.geography-description
  .geography-text
    p.
      Наше предприятие выпускает минеральную вату с 1965 года. В 2005г. АО «Гомельстройматериалы» вышло на международный рынок с уникальным материалом для теплоизоляции стен и кровли – плитами теплоизоляции, выполненными из минеральной ваты, под торговой маркой BELTEP.<br>
    p.
      Плиты выпускаются на современной технологической линии, поставленной чешской машиностроительной компанией «Frydlantske Strojirny — Rasl a syn s.a.», с использованием технологии сухого формования из минеральной ваты и синтетического связующего вещества с водонепроницаемой модифицирующей добавкой.
  .geography-map
    .geography-map-img
      img(src="./img/map-without-dot.png", alt="")