.header
  .header-logo
    img(src="./img/logo.png")
  .header-menu
    .header-menu-item
      a(href="#") Main
    .header-menu-item
      a(href="#") News
    .header-menu-item
      a(href="#") Contacts
  .header-toolbar
    .header-toolbar-soc