.header-top
  .header-top-toolbar
    .header-top-logo.icon
      img(src="./img/logo.png")
    a.icon.icon-facebook
      svg(style="fill")
        use(xlink:href="#FB_")
  ul.header-top-menu
    li.header-top-menu-item
      a(href="#") О Нас
    li.header-top-menu-item
      a(href="#") Продукция
    li.header-top-menu-item
      a(href="#") Использование
    li.header-top-menu-item
      a(href="#") Преимущества
    li.header-top-menu-item
      a(href="#") Производство
    li.header-top-menu-item
      a(href="#") Контакты
  .header-top-lang.custom-select
    select(size="3" name="hero")
      option(value="ru" selected) RU
      option(value="ua") UA
      option(value="en") EN
  .dropdown.header-top-dropdown
    input(type="checkbox" id="header-dropdown")
    a#nav-icon3(href="#" data-toggle="dropdown")
      span
      span
      span
      span
    ul.dropdown-menu
      li
        a(href="#") О Нас
      li
        a(href="#") Продукция
      li
        a(href="#") Использование
      li
        a(href="#") Преимущества
      li
        a(href="#") Производство
      li
        a(href="#") Контакты
.header-bottom
  .header-bottom-title
    | <b>Минераловатный субстрат</b><br>
    | для гидропонного выращивания <br>
    | овощных и цветочных культур
  .header-bottom-detailed
    a(href="#").anim-btn.effektA
      | Подбробнее

