.container
  .steps-title.title
    | Этапы использования
  .steps-list
    .steps-item
      .steps-item-top
        .steps-item-top-id
          | 1
        .steps-item-top-solution
          | Посев семян,
          | выращивание сеянцев
      .steps-item-bottom
        img(src="./img/Use-1.png", alt="step1")
    .steps-item
      .steps-item-top
        .steps-item-top-id
          | 2
        .steps-item-top-solution
          | Пикировка рассады
          | в кубики
      .steps-item-bottom
        img(src="./img/Use-2.png", alt="step2")
    .steps-item
      .steps-item-top
        .steps-item-top-id
          | 3
        .steps-item-top-solution
          | Пересадка выращенной
          | рассады на мат
      .steps-item-bottom
        img(src="./img/Use-3.png", alt="step3")