
.team-img#photo-team
  img(src="./img/semidnepr.png", alt="our-team")
.team-description
  .team-title.title
    | О компании
  .team-text.
    Компания Belagro занимается производством субстрата из минеральной ваты, продукция выпускается на заводе АО «Гомельстройматериалы» г. Гомель, Республика Беларусь. Ассортимент продукции включает в себя минераловатный мат, кубик и пробку для рассады. Минераловатный субстрат Belagro предназначен для применения в качестве корневого субстрата для технологии гидропонного выращивания многих видов овощных и цветочных культур в тепличных комплексах. Минераловатный субстрат Belagro производится с 2006 года, за это время он был опробован более 100 тепличными комбинатами в Беларуси, Украине, России, Турции, Казахстане, Узбекистане, Грузии, Армении, Азербайджане. Работа подразделений и служб нашей компании ориентирована на максимальное удовлетворение спроса потребителей и обеспечение на высшем уровне качества обслуживания клиентов. Наше технологическое оснащение позволяет легко решать проблемы нестандартных размеров. Высокий уровень качества, отзывчивость, разумная ценовая политика и оперативная сервисная поддержка позволяют экономить деньги и время наших клиентов, что и является главным приоритетом нашей деятельности.