.goods-list
  padding: 150px 0 80px
.goods-list-item
.goods-item
  @include clearfix
  &-description, &-slider
    float: left
    width: 50%
.goods-item-description
  &-params
    margin-top: 20px
  &-title
    font-size: rem(24)
    font-weight: 700
    color: $c-dark-green
    margin-bottom: 10px
  &-text
    color: #000
    text-align: justify
    line-height: 1.3