.features
  background-image: url('./img/Rectangle 16.png')
  background-size: cover
  margin-top: 50px
  padding-bottom: 103px
  &-title
    padding: 46px 0 38px
    text-align: center
    font-weight: 500
    font-size: 50px
    color: #fff
    @include tablet
      padding: 22px 0 19px
    &-content
      @include tablet
        font-size: rem(38)
      @include mobile
        font-size: rem(28)
  &-list
    display: flex
    justify-content: space-between
    @include laptop
      flex-direction: column
  &-item
    min-height: 387px
    width: 32%
    padding: 35px 15px 15px
    text-align: center
    border: 1px solid #fff
    &:hover
      transform: scale(1.03)
    @include laptop
      width: 100%
      margin-bottom: 20px
    &-title
      font-weight: 700
      font-size: rem(18)
      color: #fff
      margin: 26px 0 18px
      @include laptop
        font-size: 25px
    &-text
      color: #fff
      font-size: rem(15)
      font-weight: 400
      @include laptop
        font-size: 21px

