.production
  &-title
    color: #242b23
    font-size: rem(50)
    font-weight: 600
    text-align: center
    padding: 24px 0 35px
    &-content
      font-size: rem(50)
      @include laptop
        font-size: rem(38)
      @include mobile
        font-size: rem(28)
  &-list
    display: flex
    justify-content: space-between
    text-align: center
    @include laptop
      display: block
  &-item
    display: inline-block
    vertical-align: top
    width: 224px
    margin-right: 10px
    @include laptop
      margin-right: 15px
    &-description
      display: flex
      align-items: center
      margin-bottom: 7px
      min-height: 40px
      @include desktop
        min-height: 60px
    &-id
      min-width: 35px
      height: 35px
      line-height: 35px
      text-align: center
      font-size: 22px
      font-weight: 500
      color: #fff
    &-text
      font-weight: 700
      font-size: 14px
      margin-left: 6px
      text-align: left
      overflow: hidden
      @include laptop
        font-size: 16px
      span
        color: white
        transform: translateX(-100%)
    &-img-wrap
      overflow: hidden
    &-img
      height: 224px
      display: flex
      align-items: center
      justify-content: center
      border: 1px solid $c-dark-green
      transform: translateY(-100%)
      position: relative
