extends ./pug/head
block title
	| Index page
block contents
	.header
		include ./pug/header
	.about
		include ./pug/about
	section.product
		.container
	section.applying
		.container
	section.interest
		.container
	section.production
		.container
	section.contacts
		.container