extends ./pug/head
block title
	| Index page
block contents
	include ./pug/header
	section.aboutus
		.container
	section.product
		.container
	section.applying
		.container
	section.interest
		.container
	section.production
		.container
	section.contacts
		.container